* {
    margin: 0;
    padding: 0;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix:after {
    content: '';
    clear: both;
    display: block;
}
body {
    background: linear-gradient(to bottom,
        #128aa7 3%,
        #14cee1 3%, white 17%,
        #40c4d2 17%, #0c739f 100%, 
        #0c739f 80%);
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;
}
.container {
    width: 1000px;
    margin: 0 auto;
    box-shadow: 0 0 10px black;
}
header {
    background-color: white;
    height: 174px;
    color: #128aa7;
    border-bottom: 1px solid #128aa7;
}
.contacts-countries {
    float: right;
    padding-top: 10px;
}
.contacts {
    padding-left: 200px;
    font-size: 12px;
    line-height: 18px;
}
.contacts-title {
    font-weight: 600;
    padding-bottom: 4px;
}
.countries {
    margin-top: 25px;
    margin-right: 40px;
}
.country {
    float: left;
    padding-right: 7px;
    padding-left: 7px;
}
.country img {
    display: block;
    margin: 0 auto;
}
.country p {
    margin-top: 3px;
    font-size: 10px;
    text-align: center;
}
.country a {
    color: #128aa7;
}
.logo {
    height: 175px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: 20px 10px;
}
.site-title {
    padding-top: 110px;
    padding-left: 90px;
    font-size: 12px;
}
.top-photo {
    height: 100%;
}
.top-navigation {
    border-top: 1px solid #cacbcb;
    border-bottom: 1px solid black;
    color: white;
    font-size: 12px;
    line-height: 28px;
    background-color: #333333;
    z-index: 10;
}
.top-navigation ul {
    list-style: none;
}
.top-navigation>ul>li {
    display: inline-block;
    padding-left: 45px;
    padding-right: 25px;
}
.top-navigation a {
    color: white;
    text-decoration: none;
}
.top-navigation .fa-caret-down {
    color: white;
}
.drop-menu {
    width: 150px;
    position: absolute;
    display: none;
    left: 10px;
    color: green;
    background-color: #303030;
    box-shadow: 0 0 10px black;
}
.drop-menu li {
    line-height: 24px;
    padding-left: 10px;
}
.adventures, .services, .partners {
    position: relative;
}
.adventures:hover .menu-adventures {
    display: block;
}
.services:hover .menu-services {
    display: block;
}
.partners:hover .menu-partners {
    display: block;
}
.main {
    height: 550px;
    overflow: hidden;
    font-size: 12px;
    box-shadow: 0 0 10px black;
}
.main h4 {
    color: #424c43;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}
.main p {
    margin-left: 15px;
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
    padding-right: 10px;
}
.information {
    float: left;
    width: 210px;
    height: 100%;
    background-color: #edeef0;
    border-right: 1px solid #c7cacf;
    min-height: 520px;
}
.information-text-wrapper {
    -webkit-column-width: 210px;
    column-width: 210px;
    height: 100%;
}
.content {
    float: left;
    width: 578px;
    background-color: white;
    height: 100%;
}
.content-text-wrapper {
    -webkit-column-width: 578px;
    column-width: 578px;
    height: 100%;
}
.news {
    float: right;
    width: 210px;
    height: 100%;
    background-color: #edeef0;
    border-left: 1px solid #c7cacf;
}
.news-text-wrapper {
    -webkit-column-width: 210px;
    column-width: 210px;
    height: 100%;
}
footer {
    text-align: center;
}
footer p {
    font-size: 12px;
    color: white;
    line-height: 30px;
}